
@{
    ViewBag.Title = "Index";
}

<section class="credit-card-area bg-ffffff">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="credit-card-content">
                    <span>Bienvenido @Session["Nombre"].ToString()</span>
                    <h3>Plan de servicio de internet de 30 Mbs velocidad</h3>
                    <p>Te mostramos los últimos detalles de tu servicio de internet </p>

                    <ul class="credit-card-features">
                        <li>
                            <i class="flaticon-checkmark"></i> Saldo
                        </li>
                        <li>
                            <i class="flaticon-checkmark"></i> $0.00
                        </li>
                        <li>
                            <i class="flaticon-checkmark"></i> Último día para pago
                        </li>
                        <li>
                            <i class="flaticon-checkmark"></i> 15 de agosto de 2023
                        </li>
                        <li>
                            <i class="flaticon-checkmark"></i> Estado del servicio
                        </li>
                        <li>
                            <i class="flaticon-checkmark"></i> Activo
                        </li>
                        <li>
                            <i class="flaticon-checkmark"></i> Tickets abiertos
                        </li>
                        <li>
                            <i class="flaticon-checkmark"></i> 2
                        </li>
                        <li>
                            <i class="flaticon-checkmark"></i> Siguiente visita de mantenimiento
                        </li>
                        <li>
                            <i class="flaticon-checkmark"></i> 10 de agosto de 2023
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="credit-card-image-slider owl-carousel owl-theme owl-loaded owl-drag">


                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-1605px, 0px, 0px); transition: all 0s ease 0s; width: 3211px;">
                            <div class="owl-item cloned" style="width: 505.163px; margin-right: 30px;">
                                <div class="credit-card-image">
                                    <img src="assets/img/credit-card/credit-card-1.png" alt="image">
                                </div>
                            </div><div class="owl-item cloned" style="width: 505.163px; margin-right: 30px;">
                                <div class="credit-card-image">
                                    <img src="assets/img/credit-card/credit-card-2.png" alt="image">
                                </div>
                            </div><div class="owl-item" style="width: 505.163px; margin-right: 30px;">
                                <div class="credit-card-image">
                                    <img src="assets/img/credit-card/credit-card-1.png" alt="image">
                                </div>
                            </div><div class="owl-item active" style="width: 505.163px; margin-right: 30px;">
                                <div class="credit-card-image">
                                    <img src="assets/img/credit-card/credit-card-2.png" alt="image">
                                </div>
                            </div><div class="owl-item cloned" style="width: 505.163px; margin-right: 30px;">
                                <div class="credit-card-image">
                                    <img src="assets/img/credit-card/credit-card-1.png" alt="image">
                                </div>
                            </div><div class="owl-item cloned" style="width: 505.163px; margin-right: 30px;">
                                <div class="credit-card-image">
                                    <img src="assets/img/credit-card/credit-card-2.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="flaticon-left-arrow"></i></button><button type="button" role="presentation" class="owl-next"><i class="flaticon-right-arrow"></i></button></div><div class="owl-dots disabled"></div>
                </div>
            </div>
        </div>
    </div>
</section>