
<html lang="zxx">

<!-- Mirrored from templates.envytheme.com/leve/default/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Jul 2023 14:26:39 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/animate.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/meanmenu.css">
    <!-- Boxicons CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/boxicons.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/flaticon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/nice-select.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/owl.carousel.min.css">
    <!-- Owl Carousel Default CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/owl.theme.default.min.css">
    <!-- Odometer CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/odometer.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/magnific-popup.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <!-- Dark CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/dark.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/responsive.css">

    <title>Leve - Online Banking & Payment Processing HTML Template</title>

    <link rel="icon" type="image/png" href="~/Content/assets/img/favicon.png">
</head>

<body>

    <!-- Start Preloader Area -->
    <div class="preloader bg-4865ff">
        <div class="loader">
            @*<img src="~/Content/LOGO-REDZ.gif" style="max-width:200px;"/>*@
            <div class="shadow"></div>
            <div class="box">
            
            </div>
        </div>
    </div>
    <!-- End Preloader Area -->
    <!-- Start Top Header Area -->
    @*<div class="top-header-area bg-color">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <ul class="top-header-information">
                        <li>
                            <i class='bx bx-envelope'></i>
                            <a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#3058555c5c5f70575d51595c1e535f5d"><span class="__cf_email__" data-cfemail="f69e939a9a99b6919b979f9ad895999b">[email&#160;protected]</span></a>
                        </li>

                        <li>
                            <i class='bx bxs-phone'></i>
                            <a href="tel:15143125678">+1 (514) 312-5678</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-6">
                    <ul class="top-header-others">
                        <li>
                            <i class='bx bxs-map'></i>
                            <a href="atm-and-bank-locations.html">ATMs location</a>
                        </li>

                        <li class="languages-list">
                            <select>
                                <option value="1">English</option>
                                <option value="2">العربيّة</option>
                                <option value="3">Deutsch</option>
                                <option value="3">Português</option>
                                <option value="3">简体中文</option>
                            </select>
                        </li>

                        <li>
                            <i class='bx bx-user'></i>
                            <a href="my-account.html">Sign In</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>*@
    <!-- End Top Header Area -->
    <!-- Start Navbar Area -->
    <div class="navbar-area navbar-color-two">
        <div class="main-responsive-nav">
            <div class="container">
                <div class="main-responsive-menu">
                    <div class="logo">
                        <a href="index-2.html">
                            <img src="~/Content/assets/img/logo-2.png" class="black-logo" alt="image">
                            <img src="~/Content/assets/img/white-logo.png" class="white-logo" alt="image">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-navbar">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index-2.html">
                        <img src="~/Content/img/logo_redzz.png" class="white-logo" alt="image" />
                        <img src="~/Content/img/logo_redzz.png" class=" black-logo" alt="image">
                        <img src="~/Content/img/logo_redzz.png" class="white-logo" alt="image">
                    </a>

                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            
                            <li class="nav-item">
                                <a href="#" class="nav-link active">
                                    Inicio
                                    @*<i class='bx bx-chevron-down'></i>*@
                                </a>
                                @*<ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="index.html" class="nav-link">
                                            Home One
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="index-2.html" class="nav-link active">
                                            Home Two
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="index-3.html" class="nav-link">
                                            Home Three
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="index-4.html" class="nav-link">
                                            Home Four
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="index-5.html" class="nav-link">
                                            Home Five
                                        </a>
                                    </li>
                                </ul>*@
                            </li>

                            <li class="nav-item">
                                <a href="#title-solucion" class="nav-link">
                                    Solución para ti
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#beneficios" class="nav-link">
                                    Beneficios
                                   
                                </a>

                               
                            </li>

                            <li class="nav-item">
                                <a href="#q&a" class="nav-link">
                                    Preguntas frecuentes

                                </a>

                            
                            </li>

                          
                        </ul>

                        <div class="others-options d-flex align-items-center">
                            @*<div class="option-item">
                                <form class="search-box">
                                    <input type="text" class="form-control" placeholder="Search for..">
                                    <button type="submit"><i class="flaticon-loupe"></i></button>
                                </form>
                            </div>*@

                            <div class="option-item">
                                <a href="open-account.html" class="default-btn"><i class="fas fa-user"></i> Iniciar sesión</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="others-option-for-responsive color-two">
            <div class="container">
                <div class="dot-menu">
                    <div class="inner">
                        <div class="circle circle-one"></div>
                        <div class="circle circle-two"></div>
                        <div class="circle circle-three"></div>
                    </div>
                </div>

                <div class="container">
                    <div class="option-inner">
                        <div class="others-options d-flex align-items-center">
                            <div class="option-item">
                                <form class="search-box">
                                    <input type="text" class="form-control" placeholder="Search for..">
                                    <button type="submit"><i class="flaticon-loupe"></i></button>
                                </form>
                            </div>

                            <div class="option-item">
                                <a href="open-account.html" class="default-btn">Open account</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->
    <!-- Start Main Banner Area -->
   @RenderBody()
    <section class="footer-area bg-color pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <div class="footer-logo">
                            <h2><a href="index.html">RED<span style="color: #af1d1d;">Z</span></a></h2>

                            <p>Conectividad sin límites: Llevamos internet a lugares inalcanzables para otras empresas, superando barreras y conectando al mundo.</p>

                            <ul class="social">
                                <li>
                                    <a href="#" class="facebook" target="_blank">
                                        <i class='bx bxl-facebook'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter" target="_blank">
                                        <i class='bx bxl-twitter'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="pinterest" target="_blank">
                                        <i class='bx bxl-instagram'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="linkedin" target="_blank">
                                        <i class='bx bxl-linkedin'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>Contacto</h3>

                        <ul class="footer-contact-info">
                            <li>
                                <i class='bx bxs-phone'></i>
                                <span>Teléfono</span>
                                <a href="tel:15147939-357">+52 (34) 14122626</a>
                            </li>
                            <li>
                                <i class='bx bx-envelope'></i>
                                <span>Correo</span>
                                <a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#4c24292020230c20293a29622f2321"><span class="__cf_email__" data-cfemail="8be3eee7e7e4cbe7eefdeea5e8e4e6">[email&#160;protected]</span></a>

                            </li>
                            <li>
                                <i class='bx bx-map'></i>
                                <span>Oficinas</span>
                                Hidalgo 166A, Hidalgo 166-A, 49000  <br> Zapotlán el Grande, Jal.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget pl-5">
                        <h3>Servicios</h3>

                        <ul class="quick-links">
                            <li>
                                <a href="#">Contratación de internet</a>
                            </li>
                            <li>
                                <a href="#">Pagos en línea</a>
                            </li>
                            <li>
                                <a href="#">Pago directo en OXXO</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>Preguntas frecuentes</h3>

                        <ul class="quick-links">
                            <li>
                                <a href="#q&a">Tiempo de respuesta</a>
                            </li>
                            <li>
                                <a href="#q&a">Registro</a>
                            </li>
                            <li>
                                <a href="#q&a">Pago en efectivo</a>
                            </li>
                            <li>
                                <a href="#q&a">Historial de pago</a>
                            </li>
                 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Footer Area -->
    <!-- Start Copy Right Area -->
    @*<div class="copyright-area bg-color">
        <div class="container">
            <div class="copyright-area-content">
                <p>
                 

                    <script src="~/Scripts/email-decode.min.js"></script>
                    <script>document.write(new Date().getFullYear())</script> Leve. All Rights Reserved by
                    <a href="https://envytheme.com/" target="_blank">EnvyTheme</a>
                </p>
            </div>
        </div>
    </div>*@
    <!-- End Copy Right Area -->
    <!-- Start Go Top Area -->
    <div class="go-top">
        <i class='bx bx-up-arrow-alt'></i>
    </div>
    <!-- End Go Top Area -->
    <!-- Jquery Slim JS -->
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Content/assets/js/bootstrap.bundle.min.js"></script>
    <!-- Meanmenu JS -->
    <script src="~/Content/assets/js/jquery.meanmenu.js"></script>
    <!-- Nice Select JS -->
    <script src="~/Content/assets/js/jquery.nice-select.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="~/Content/assets/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup JS -->
    <script src="~/Content/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Odometer JS -->
    <script src="~/Content/assets/js/odometer.min.js"></script>
    <!-- Jquery Appear JS -->
    <script src="~/Content/assets/js/jquery.appear.min.js"></script>
    <!-- Ajaxchimp JS -->
    <script src="~/Content/assets/js/jquery.ajaxchimp.min.js"></script>
    <!-- Form Validator JS -->
    <script src="~/Content/assets/js/form-validator.min.js"></script>
    <!-- Contact JS -->
    <script src="~/Content/assets/js/contact-form-script.js"></script>
    <!-- Wow JS -->
    <script src="~/Content/assets/js/wow.min.js"></script>
    <!-- Custom JS -->
    <script src="~/Content/assets/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js" integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

<!-- Mirrored from templates.envytheme.com/leve/default/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Jul 2023 14:27:29 GMT -->
</html>